// Colors
$color-white: #fff;
$color-black: #000;

$color-bg: #fff;

$color-transperent: rgba(255, 255, 255, 0);
$color-white-transperent: rgba(255, 255, 255, 0.6);
$color-main-transperent: rgba(254, 114, 76, 0.2);
$color-black-transperent: rgba(0, 0, 0, 0.6);
$color-purple-transperent: rgba(211, 209, 216, 0.25);

$color-main: #fe724c;
$color-gray: #bebebe;
$color-gray-light: #eeeeee;
$color-gray-dark: #5b5b5e;
$color-yellow: #ffc529;
$color-blue-dark: #111719;
$color-silver: #9ea1b1;
$color-border: #d4d6e0;
$color-input-border: #efefef;
$color-input-bg: #fcfcfd;
$color-red: rgb(220, 48, 48);
