@import './sass/base';

.main {
  @include row;
}

.menu {
  width: 100%;
  padding: 40px 60px;
  margin-left: 300px;
}

.head {
  margin-bottom: 40px;
  @include row;
  align-items: center;
  justify-content: space-between;
}

.products {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;

  @media (max-width: 1440px) {
    justify-content: center;
  }
}
